body {
	background-color: /*#D8D4F2*/#1f2227;
}

.navbar {
	background-color: #1f2227;
	padding: 0 0.5rem;
	border-bottom: 1px solid #2c2f34;
}

#main {
	height : 100%;
	margin : 0;
	margin-bottom: 1rem;
}
#main:not(:last-child) {
	margin-bottom: 0 !important;
}

.th-column-container {
	margin-top : 1rem;
}

#board-2 {
	border-left: 1px solid #2c2f34;
	border-right: 1px solid #2c2f34;
}

.board-head, .panel-head {
	margin-bottom: 0 !important;
}

.navbar p, .board-head h1, .panel-head h1 {
	color: #F9F9F9;
}

.board-head-hr {
	background-color: #2c2f34;
	height: 1px;
	margin: 0.75rem 0;
}

.CodeMirror {
	height: 100%;
}

.code-block-editor {
	position: relative;
	height: 84vh;
	border: 1px solid #2c2f34;
}

.template-alert {
	margin-bottom: 0.75rem;
}

.card {
	background-color: #282b2f;
}

.page-main-title {
	color: #F9F9F9;
	padding: 1.25rem;
}

.home-feature {
	height: auto;
	width: 80vw;
	text-align: left;
	color: #F9F9F9;
	margin-bottom: 1.5rem;
}

.home-feature h2 {
	color: #F9F9F9;
}

.home-feature a {
	color: #986cff;
}

.home-feature .card-content {
	padding: 1.5rem;
}

.home-feature .card-image {
	padding: 0;
}

.card-illustration {
	width: fit-content;
	position: absolute;
	height: 100%;
	max-height: 300px;
}

.home-feature-cta, .cta {
	background-color: #6423ff;
	color: #F9F9F9;
}

.home-feature-cta:hover, .cta:hover {
	background-color: #986cff;
	color: #F9F9F9;
}

#parameters-panel {
	padding: 0.75rem;
}

#parameters-panel h1, #parameters-panel label {
	color: #F9F9F9;
}

#parameters-panel label {
	font-weight: normal;
}
#parameters-panel .cta {
	margin-top: 1.25rem;
}

#parameters-panel input::placeholder {
	color: #6d6d6d;
}

#parameters-panel {
	border: 1px solid #2c2f34
}

.toast-alert, .toast-alert .message-body {
	border-radius: 0;
}

.page-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-title a {
	color: #9e70ff;
	font-size: 75%;
	text-decoration: underline;
}

.page-title a:hover {
	color: #F9F9F9;
	text-decoration: underline;
}